h1,
h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 40px;
    color: #7f45af;
    font: weight 800px;
}

h2 {
    font-size: 2em;
    color: #a74fcb;
}

h3 {
    font-size: 1.3em;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;    font-weight: bold;
    color: #d59ef8;
    font-style: italic;
}

img {
    float: right;
    width: 300px;
}