/* colors:
background 283618
light highlights 606c38
light orange dda15e
dark orange bc6c25
text fefae0 */

body {
    background-color: #283618;
}

h1,
h2,
h3 {
    color: #fefae0;
}

.twitter {
    color: #dda15e;
}

.about,
p,
li,
em {
    color: #fefae0;
    font-family: 'Open Sans', sans-serif;
}


h1,
h2 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-decoration-color: #606c38;
}

h4 {
    font-size: 3.5em;
    font-family: 'Roboto Slab', serif;
    color: #fefae0;

}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    color: #fefae0;
    text-decoration: underline;
    text-decoration-color: #606c38;

}

.me {
    float: right;
    width: 18em;
    border-style:groove;
    border-image-width:30px;
    border-color: #dda15e;
}

.navbar {
    background-color: #606c38;
    color: #fefae0;
}

b {
    font-family: 'Open Sans', sans-serif;
    color: #606c38;
    font-size: 1em;
    font-style: bold;
}

/*nav {
    background-color: #C9EDDC;
    font-family: 'Open Sans', sans-serif;
}