/* colors:
background 89B6A5
navbar tealish C9EDDC
light highlights E2AEDD
dark highlights 82968C */

body {
    background-color: #89B6A5;
}

h1,
h2,
h3 {
    color: white;
}

.twitter {
    color: #C9EDDC;
}

.about,
p,
li {
    color: white;
    font-family: 'Open Sans', sans-serif;
}


h1,
h2 {
    font-family: 'Sansita', sans-serif;
    text-decoration: underline;
    text-decoration-color: #C9EDDC;
}

.me {
    float: right;
    width: 18em;
}

/*nav {
    background-color: #C9EDDC;
    font-family: 'Open Sans', sans-serif;
}