/* colors:
background 283618
light highlights 606c38
light orange dda15e
dark orange bc6c25
text fefae0 */

body {
    background-color: #283618;
    margin: 0 0 2em 0;
}

h1,
h2,
h3 {
    color: #fefae0;
}

.twitter {
    color: #dda15e;
}

.about,
p,
li,
em {
    color: #fefae0;
    font-family: 'Open Sans', sans-serif;
}


h1,
h2 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-decoration-color: #606c38;
}

h4 {
    font-size: 3.5em;
    font-family: 'Roboto Slab', serif;
    color: #fefae0;

}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    color: #fefae0;
    text-decoration: underline;
    text-decoration-color: #606c38;

}

.me {
    border-style: groove;
    border-image-width: 50px;
    border-color: #dda15e;
    width: 30em;
}

.navbar {
    background-color: #606c38;
    color: #fefae0;
}

b {
    font-family: 'Open Sans', sans-serif;
    color: #606c38;
    font-size: 1em;
    font-style: bold;
}

main {
    margin: 2em 0 0 0;
}

@media (max-width: 450px) {
    .me {
        width: 50%;
        margin: 0 auto;
    }
}


.headline {
    color: #fefae0;
}

.kevin {
    width: 75%;
}

.joan {width:45%;}

.weskate {
    width: 90%;
}

/*nav {
    background-color: #C9EDDC;
    font-family: 'Open Sans', sans-serif;
}